body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #1a1d21;
  overflow: hidden;
}

div {
  display: flex;
  flex-direction: row;
}

div.head {
  border: 1px dashed #fbfbfb;
  border-radius: 10px;
  padding: 10px;
  color: #fbfbfb;
  background-color: #1f2227;
  margin-top: 0;
}

div.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

select {
  border: 1px dashed #fbfbfb;
  border-radius: 10px;
  margin: 10px;
  height: auto;
  flex-grow: 1;
  text-align: center;
  color: #fbfbfb;
  background-color: #1f2227;
  font-size: 1.17em;
  font-weight: bold;
}

span {
  order: 2;
  padding: 11px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

div>h3 {
  padding-right: 10px;
  padding-left: 10px;
}

span>ul {
  border: 1px dashed #fbfbfb;
  border-radius: 10px;
  padding: 10px;
  color: #fbfbfb;
  background-color: #1f2227;
  list-style-position: inside;
  font-weight: bold;
}

span>ul.errList {
  columns: auto;
  /* height: 79vh; */
  flex-grow: 1;
  margin-bottom: 0;
  overflow-y: auto;
}

span>ul.legend {
  columns: 3;
  /* height: auto; */
}

li.banned {
  color: #ff4f68;
  /* text-shadow: 0px 0px 10px #ff4f68; */
}

li.unavailable {
  color: #ffe54f;
  /* text-shadow: 0px 0px 10px #ffe54f; */
}

li.banned.unavailable {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ff4f68, #ffe54f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

li.unknown {
  color: #4fb0ff;
  /* text-shadow: 0px 0px 10px #4fb0ff; */
}

textarea {
  width: 100%;
  resize: none;
  order: 1;
  background-color: #1f2227;
  border-radius: 10px;
  color: #fbfbfb;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  border: 1px dashed #fbfbfb;
}

textarea:focus {
  outline: none;
  border: 1px solid #fbfbfb;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

dialog {
  display: flex;
  color: #fbfbfb;
  border: 1px dashed #fbfbfb;
  border-radius: 10px;
  background-color: #1a1d21;
  flex-direction: column;
}

dialog.setDialog {
  width: 70vw;
  height: 70vh;
}

dialog.cardDialog {
  width: 70vw;
  height: 70vh;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog>form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: inherit;
  margin: 0;
}

div.diagHead,
div.diagContent,
div.diagShowBox,
div.diagCardBox {
  display: flex;
  flex-direction: row;
  width: 69vw;
}

div.diagHead,
div.diagShowBox {
  border: 1px dashed #fbfbfb;
  background-color: #1f2227;
  border-radius: 10px;
}

div.diagContent,
div.diagCardBox {
  margin-top: 10px;
  display: flex;
}

div.diagContent {
  margin-bottom: 10px;
}

div.diagShowBox,
div.diagCardbox {
  flex-grow: 1;
}

.diagHead>h4,
.diagHead>button {
  padding-left: 10px;
  padding-right: 10px;
}

.diagHead>h4 {
  flex-grow: 100;
}

.diagHead>button {
  flex-grow: 1;
}

.diagContent>input,
.diagContent>output {
  color: #fbfbfb;
  border: 1px dashed #fbfbfb;
  background-color: #1f2227;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
}

.diagContent>input:focus {
  outline: none;
  border: 1px solid #fbfbfb;
}

.diagContent>output {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  margin-left: 10px;
}

.diagList {
  columns: 3;
  list-style-position: inside;
  font-weight: bold;
  width: 100%;
  flex-grow: 1;
}

button {
  color: #fbfbfb;
  border: 1px dashed #fbfbfb;
  background-color: #1f2227;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px
}

button:hover {
  background-color: #1a1d21;
  outline: none;
  border: 1px solid #fbfbfb;
}


.errList>li:hover {
  background-color: #1a1d21;
  border: 1px solid #fbfbfb;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

img.cardImg {
  border: 1px dashed #fbfbfb;
  border-radius: 10px;
  padding: 10px;
  color: #fbfbfb;
  background-color: #1f2227;
  object-fit: scale-down;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 60vh;
}

.cardLinks>li {
  list-style-type: none;
  padding: 10px;
}

.cardLinks {
  flex-grow: 999999;
  border: 1px dashed #fbfbfb;
  border-radius: 10px;
  color: #fbfbfb;
  background-color: #1f2227;
  margin: 0;
  padding: 10px;
  margin-left: 10px;
}